.visit button:hover{
	background-color: #5C3186;
	box-shadow: none;
	transition: background-color .3s linear;
}

.buttons button:hover{
	opacity: 1;
	transition: .3s linear;
}

.logo:hover{
	transform: scale(1.1);
	transition: .2s;
}

.functions button.play:hover{
	background-color: transparent;
	transition: .2s;
}
