@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap');

*{
	padding: 0;
	margin: 0;
}

[center]{
	width: 60%;
	margin-left: 10%;
	float: left;
}

body{
	background: linear-gradient(to right, #a84bab 0%, #fe5aba 100%);
	font-family: 'Montserrat', sans-serif;
}

.background{
	width: 100%;
	height: 100%;
	position: fixed;
	background: #FE5ABA;
}

.bgimg{
	width: 100%;
	height: 100%;
	position: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
}

.container{
	width: 702px;
	height: 475px;
	left: calc(50% - 351px);
	top: calc(50% - 237.5px);
	position: absolute;
	border-radius: 8px;
	background-color: #280747;
	box-shadow: 0 0 14px 6px rgba(0,0,0,0.34);
	float: left;
	z-index: 1;
}

.logo{
	width: 288px;
	height: 62px;
	margin-top: -30px;
	margin-left: calc(50% - 144px);
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	transition: .2s;
}

.player{
	width: 100%;
	height: 110px;
	margin-top: 48px;
	float: left;
}

.player .picture{
	width: 106px;
	height: 100%;
	margin-left: 27px;
	position: relative;
	float: left;
}

.picture .base{
	width: 104px;
	height: 57px;
	bottom: 0;
	position: absolute;
	float: left;
	z-index: 1;
}

.picture .photo{
	width: 72px;
	height: 72px;
	top: 5px;
	left: calc(50% - 36px);
	position: absolute;
	float: left;
	z-index: 2;
	border-radius: 5px;
	background-size: cover;
	background-position: center;
}

.player .status{
	/*width: auto;*/
	/*height: 37px;*/
	/*margin: 17px 0 0 25px;*/
	/*float: left;*/
	width: auto;
    height: 37px;
    margin: 17px 0 0 25px;
    float: left;
    position: absolute;
    margin-left: 130px;
}
.status .program,
.status .announcer{
	width: auto;
	height: 37px;
	margin-right: 23px;
	border-radius: 50px;
	background-color: #310C53;
	box-shadow: 0 0 7px 2px rgba(0,0,0,.06);
	float: left;
}
.program .icon2,
.announcer .icon1{
	width: 13px;
	height: 13px;
	margin: 12px 12px;
	background-repeat: no-repeat;
	float: left;
}

.program .icon2{ margin-right: 40px; }

.program .programation,
.announcer .nickname{
	width: auto;
	height: 37px;
	padding: 0 20px 0 0;
	max-width: 120px;
	line-height: 37px;
	font-size: 12px;
	color: #E9D5FC;
	float: left;

}

.status .lister{
	width: auto;
	height: 37px;
	margin-right: 23px;
	border-radius: 50px;
	background: linear-gradient(to right, rgba(48,13,83,1) 0%,rgba(41,7,73,0) 100%);
	float: left;
}

.lister .icon3{
	width: 13px;
	height: 13px;
	margin: 12px 12px;
	background-repeat: no-repeat;
	float: left;
}

.lister .listeners{
	width: auto;
	height: 38px;
	padding: 0 20px;
	max-width: 120px;
	line-height: 37px;
	font-size: 12px;
	color: #E9D5FC;
	float: left;
}

.interaction{
	width: 100%;
	height: 130px;
	margin-top: 29px;
	position: relative;
	float: left;
}

.interaction .avatar{
	width: 73px;
	height: 100%;
	margin-left: 46px;
	/*position: absolute;*/
	background-position: bottom;
	background-repeat: no-repeat;
	float: left;
}

.interaction .visit{
	width: 220px;
	height: 130px;
	margin-left: 37px;
	float: left;
}

.visit .text{
	width: 100%;
	height: auto;
	float: left;
}

.visit .text span{
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	text-shadow: 0 2px 1px rgba(0,0,0,.14);
}

.visit .text p{
	margin-top: 20px;
	font-size: 11px;
	font-weight: 300;
	color: #623E84;
	text-shadow: 0 2px 1px rgba(0,0,0,.14);
}

.visit button{
	width: 149px;
	height: 40px;
	margin-top: 20px;
	border-radius: 4px;
	border-style: none;
	background: transparent;
	box-shadow: 0 0 0 1px rgba(255,255,255,.10);
	font-size: 12px;
	font-weight: 300;
	color: #E9D5FD;
	float: left;
	transition: background-color .3s linear;
	cursor: pointer;
}

.playit{
	width: 236px;
	height: 100%;
	margin-left: 50px;
	border-radius: 5px;
	background-color: #310D53;
	box-shadow: 0 0 7px 2px rgba(0,0,0,.06);
	float: left;
}

.playit .iconhb{
	width: 28px;
	height: 28px;
	margin-top: 30px;
	margin-left: calc(50% - 14px);
	background-position: center;
	background-repeat: no-repeat;
	float: left;
}

.playit button{
	width: calc(100% - 14px);
	height: 42px;
	margin: 23px 7px 0 7px;
	border-radius: 5px;
	border-style: none;
	background-color: #5C3186;
	box-shadow: 0 0 7px 2px rgba(0,0,0,.06);
	font-size: 12px;
	font-weight: 600;
	color: #FFFFFF;
	float: left;
	cursor: pointer;
}

.more{
	width: 100%;
	height: 101px;
	margin-top: 30px;
	position: relative;
	float: left;
}

.more .time{
	width: calc(100% - 18px);
	height: auto;
	padding: 0 9px;
	float: left; 
}

.time span:first-of-type{
	font-size: 11px;
	font-weight: 600;
	color: #655079;
	text-shadow: 0 1px 1px rgba(0,0,0,.24);
	float: left;
}

.time span:last-of-type{
	font-size: 11px;
	font-weight: 600;
	color: #655079;
	text-shadow: 0 1px 1px rgba(0,0,0,.24);
	float: right;
}

.bartime{
	width: 100%;
	height: 4px;
	margin-top: 8px;
	background-color: #642957;
	float: left;
}

.bartime .progress{
	width: 166px;
	height: 4px;
	background-color: #D953B1;
	box-shadow: 0 0 13px 0 rgba(229,87,185,.53);
	float: left;
}

.functions{
	width: calc(100% - 64px);
	height: 73px;
	padding: 12px 32px 0 32px;
	border-radius: 0 0 8px 8px;
	background-color: #310D53;
	float: left;
}

.functions button.play{
	width: 48px;
	height: 48px;
	margin-top: 5px;
	border-radius: 5px;
	border-style: none;
	background-color: #D953B1;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 0 3px #F359BB, inset 0 0 16px 0 rgba(115,29,87,.46), 0 0 9px 3px rgba(0,0,0,.31), 0 0 13px 0 rgba(217,83,177,.60);
	float: left;
	transition: .2s;
}

button.play .icon{
	width: 15px;
	height: 22px;
	margin-top: 7px;
	margin-left: calc(50% - 7.5px);
	background-position: center;
	background-repeat: no-repeat;
	float: left;
}

.functions .volume{
	width: 320px;
	height: auto;
	margin-top: 17px; 
	margin-left: 91px;
	/*background-color: orange;*/
	color: #fff;
	float: left;
}

.volume .barvolume{
	width: 295px;
	height: 3px;
	margin-top: 8px;
	margin-left: 12px;
	background-color: #170527;
	float: right;
}

.barvolume input{
	width: calc(50% - 2px);
	height: 3px;
	background-color: #781CE3;
	box-shadow: 0 0 13px 0 rgba(107,21,207,.53);
}

.slider {
  width: 295px;
  height: 3px;
  margin-top: 8px;
  border-radius: 5px;   
  background-color: #170527;
  transition: opacity .2s;
  outline: none;
  -webkit-transition: .2s;
  -webkit-appearance: none;
  float: right;
}

.slider::-webkit-slider-thumb {
  width: 13px;
  height: 13px;
  border-radius: 50%; 
  background: #771DE3;
  box-shadow: inset 0 0 0 3px #E8D8FB, inset 0 0 9px 5px rgba(0,0,0,.33), 0 0 5px 5px rgba(0,0,0,.09);
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #4CAF50;
  cursor: pointer;
}

.buttons{
	width: 94px;
	margin-top: 17px;
	height: auto;
	float: right;
}

.buttons button{
	width: 15px;
	height: 15px;
	border-style: none;
	background: transparent;
	background-repeat: no-repeat;
	margin-right: 23px;
	float: left;
	opacity: .2;
	transition: .3s linear;
}

.buttons button:last-of-type{ margin-right: 0; }